<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key><string>mysql</string>
        <key>Program</key><string>/usr/local/mariadb-##MARIADB_VERSION_STRING##/bin/mysqld_safe</string>
        <key>KeepAlive</key><true/>
        <key>ProgramArguments</key>
            <array>
                <string>/usr/local/mariadb-##MARIADB_VERSION_STRING##/bin/mysqld_safe</string>
                <string>--user=mysql</string>
            </array>
    </dict>
</plist>
